/*  w-container === tp-container */ */ */
 /* w-layout-blockcontainer === layout-container * */
 /* w-layout-hflex ===  tp-flex-horizontal */ */
 /* w-layout-vflex ===  tp-flex-vertical  */
 /* w-inline-block === tp-inline-block  */
 /* w-dyn-list ===  tp-portfolio-list*/

/* w-nav  === header-main  */ */
 /* w-nav-menu === main-menu */ */
 /* w-nav-button === humburger-main */  */
 /* w-nav-brand === header-logo */ */
 /* w-dropdown === menu-item */  */
 /* w-dropdown-toggle === menu-item-toggle */ */
 /* w-dropdown-list === dp-menu */  */
 /* w-dropdown-link === menu-dd-link */ */
 /* w-icon-dropdown-toggle === menu-dp-icon */ */
 /* w-layout-grid === tp-layout-grid  */

 /* button ===  tp-btn*/ */
 /* w--current === tp-active */
 /* button-three tp-btn-primary  */
 /* dropdown === tp-dropdown  */
 /* dropdown-toggle === tp-dropdown-toggle  */
 /* dropdown-list === tp-dropdown-menu  */

 /* w-dyn-items === tp-portfolio-items */


 
 


/* SLIDER */
/* w-slider === tp-testimonial-slider */
/* slider === tp-testimonial */
/* w-slider-mask === tp-testimonial-track*/
/* w-slide === tp-testimonial-item */
/* w-slider-arrow-left === tp-arrow-prev */
/* w-slider-arrow-right === tp-arrow-next */
/* w-slider-nav ===  tp-slider-dots*/
/* w-form  === tp-form*/
/* w-input  === tp-input*/
/* w-slide === tp-slider-inner */
/* w-form-label ===  tp-form-label */



/* w-checkbox === tp-checkbox */
/* w-checkbox-input === tp-checkbox-input */
/* w-checkbox-input--inputType-custom === tp-checkbox-custom */
/* w-input === tp-input */

/* button-two */

/* w-icon-slider-left == ic-slider-left*/
/* w-icon-slider-right   ic-slider-right*/

/* w-col-0 === width-0 */

/* w-tabs === tp-tabs*/
/* w-tab-menu === tp-tab-nav */
/* w-tab-link === tp-tab-btn */
/* w-tab-content ===  tp-tabs-content*/
/* w-tab-pane ===  tp-tabs-pane*/

/* w-layout-grid === tp-grid */

/* w--tab-active === tp--tab-active */