/*----------------------------------------*/
/*   Responsive Css Start
/*----------------------------------------*/

@media screen and (min-width: 1440px) {

    .tp-btn.tp-btn-primary {
        transition: color 0.35s, background-color 0.35s;
    }

    .tp-btn.tp-btn-primary:hover {
        background-color: var(--heading-color);
        color: var(--body-color);
    }

    .home-digital-solutions-option {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .little-boy-image-wrapper {
        right: -1%;
    }

    .portfolio-one-details {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .hero-heading-gap {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .home-one-hero-description {
        margin-bottom: 50px;
    }

    .marquee-image-two {
        bottom: 11%;
    }


    .home-two-portfolio {
        padding-top: 145px;
        padding-bottom: 155px;
    }

    .footer-two {
        padding-top: 150px;
        padding-bottom: 150px;
    }


    .home-two-service {
        padding-top: 150px;
        padding-bottom: 90px;
    }



    .arrow-icon {
        display: inline;
    }

    .home-three-testimonial-slide {
        margin-left: 50px;
    }

    .clients-two {
        padding-top: 155px;
        padding-bottom: 150px;
    }

    .about-two-experience-list-item {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-two-hero-image-three {
        right: 80px;
    }



    .about-two-process {
        padding-bottom: 160px;
    }



    .line-shape {
        display: block;
        top: 36%;
    }

    .tp-tab-btn.tp-active {
        background-image: linear-gradient(119deg, #f3476e, #af6aec);
    }

    .pricing-plans-cards {
        padding: 40px;
    }


    .service-three-progress-main {
        bottom: -80px;
        right: 100px;
    }


    .utility-banner {
        padding-top: 245px;
        padding-bottom: 150px;
    }

  

    .licensing-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .utility {
        padding-top: 160px;
        padding-bottom: 160px;
    }


    .landing-hero-image-one,
    .landing-hero-image-two,
    .landing-hero-image-three,
    .landing-hero-image-four {
        display: block;
    }
}

@media screen and (min-width: 1280px) {

    .blog-two-image,
    .landing-footer-float-image-three,
    .landing-footer-float-image-two {
        display: block;
    }

    .menu-item {
        margin-right: 20px;
    }


    .landing-footer-float-image-four,
    .landing-footer-float-image-one {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .home-three-slider-area {
        max-width: 235px;
        width: 100%;
        height: auto;
    }

    .home-three-testimonial-text {
        margin-left: 0;
        padding-left: 22px;
        max-width: 400px;
    }

    .choose-us-slides {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
     .choose-slide-text {
        max-width: 100%;
        padding-left: 15px;
    }

    .tp-container {
        max-width: 728px;
    }
    
    .team-hero-image-two, .team-hero-image-one{
        display: none;
    }
    .header-main .container {
        background-color: rgb(5, 6, 16);
    }

    .navbar.header-sticky,
    .navbar-three.header-sticky {
        position: fixed !important;
        animation: none !important
    }

    .nav-inline {
        padding-top: 64px;
    }

    .main-menu {
        background-color: #050610;
        width: 100%;
        height: 100vh;
        position: fixed;
        inset: 0;
        overflow-y: auto;
        transition: var(--transition-medium);
        transform: translateY(-100%);
        display: none;
        z-index: -1;
    }

    .main-menu.is-open {
        transition: var(--transition-medium);
        transform: translateY(0);

    }

    .main-menu-section {
        position: absolute;
    }
    /* .menu-item {
        padding: 20px 0 20px 0
    } */

    .my-approach-right {
        padding-left: 0;
    }

    .navbar-three-dropdown .navbar-dropdown {
        grid-column-gap: 15px;
        grid-row-gap: 8px;
        padding-top: 0;
       flex-wrap: wrap;
        align-items: start;
        padding: 6px 0;
    }
.sub-menu-arrow{opacity: 1;}
    .navbar-three-boxes {
        grid-row-gap: 3.35vh
    }

    .related-blogs-wrap .heading-five {
        line-height: 24px;
    }

    .blog-one-name {
        line-height: 26px;
    }

    .blog-two-name span,
    .blog-three-line span,
    .blog-two-name {
        line-height: 33px;
    }

    .proj-slider-box {
        width: 100%;
        float: left;
    }

    .about-three-hero-right {
        padding-left: 0;
    }

    .team-member-information {
        padding-left: 20px;
    }

    .about-one-opitons h3 {
        font-size: 30px;
    }

    .about-three-testimonial-points-wrap {
        padding-left: 0;
    }

    .pr_slides-cards {
        width: 100%;
    }

    .home-two-testimonial-heading {
        transform: none !important;
    }

    .humburger-wrapper {
        grid-column-gap: 7px;
        grid-row-gap: 7px;
        flex-flow: column;
        justify-content: center;
        align-items: end;
        padding: 30px 0 30px 15px;
        display: flex;
    }

    .home-one-service-cards-icon {
        margin-bottom: 0;
    }

    .humburger-wrapper.w--open {
        background-color: #c8c8c800;
    }

    .left-arrow {
        width: 45px;
        height: 45px;
        bottom: 30%;
    }

    .home-one-portfolio-right {
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }


    .humburger-bar {
        background-color: var(--white);
        width: 24px;
        height: 1px;
        padding: 0;
    }

    .tp-rotate-box-two {
        width: 150px;
        height: 150px;
    }

    .humburger-bar.humburger-bar-two {
        width: 12px;
    }

    .pricing-plans-wrap .pricing-plans-cards {
        margin-bottom: 25px;
    }

    .right-arrow {
        width: 45px;
        height: 45px;
        bottom: 30%;
    }

    .girl-image-wrapper {
        left: 3%;
    }

    .home-one-hero-text {
        max-width: 90%;
    }

    .tp-dropdown {
        display: block;
        padding: 15px 15px 5px 10px;
    }


    .little-boy-image-wrapper {
        top: -24px;
        right: 3%;
    }


    .gradiant-arrow {
        width: 15px;
        height: auto;
    }

    .home-one-work-text-container {

        position: relative;
    }


    .home-one-service-cards {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        max-width: none;
    }

    .let-s-talk {
        display: none !important;
    }

    .home-one-work-bottom-text {
        max-width: 350px;
    }

    .hero-heading-gap {
        margin-bottom: 30px;
    }


    .text-capitalize.tp-common-white.service-tag {
        max-width: none;
    }

    .home-digital-options-background {
        opacity: 1;
        transform: none;
    }

    .home-one-hero-description {
        margin-bottom: 25px;
    }

    .tp-dropdown-menu {
        position: static;
        padding-bottom: 0;
    }

    .slider-icon-arrow {
        width: 15px;
        height: auto;
    }




    .circle-icon {
        width: 60px;
        height: 60px;
    }

    .home-popup-video-text {
        font-size: 18px;
        line-height: 28px;
    }



    .tp-radius-20.tab-image-full-width {
        width: 100%;
        height: auto;
    }

    .tp-radius-20.testimonial-images {
        width: 250px;
        height: auto;
    }

    .double-marquee-wrapper {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }



    .tp-radius-30.contact-hero-image-one {
        width: 30vw;
        left: -5%;
    }

    .tp-radius-30.contact-hero-image-two {
        width: 15vw;
    }


    .tp-dropdown-toggle {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 7px;
        border-bottom: var(--border-mobile-menu);
    }

    .tp-dropdown-toggle.pricing {
        justify-content: flex-start;
        align-items: center;
        padding-right: 15px;
        display: flex;
    }


    .home-one-portfolio-left {
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    .dropdown-link {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: var(--border-mobile-menu);
    }

    .footer-submit-button {
        padding-left: 20px;
        padding-right: 40px;
    }


    .home-two-projects-boxes {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
    }

    .home-two-testimonial-backdrop {
        background-image: linear-gradient(#161724 50%, #16172400);
        border-bottom-style: none;
    }

    .home-two-projects-cards {
        width: 100%;
    }

    .choose-us-slides {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home-two-testimonial {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .choose-us-slider-image-wrapper {
        width: 100%;
    }


    .home-two-testimonial-main {
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding-top: 30px;
        position: relative;
    }



    .home-two-testimonial-container {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        border-bottom: 1px solid var(--border-color);
        position: static;
    }

    .footer-two-left-wrapper {
        max-width: none;
    }



    .home-two-hero-image-wrapper {
        max-width: none;
    }

    .footer-two-main {
        flex-flow: column;
        align-items: stretch;
    }

    .tab-image-full-width {
        width: 100%;
        height: auto;
    }

    /* faq */

    .home-two-marquee-main {
        margin-bottom: 50px;
    }


    .home-two-service-boxes {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .home-two-testimonial-row-one,
    .home-two-testimonial-row-two {
        grid-column-gap: 40px;
        grid-row-gap: 25px;
        transform: none !important;
    }


    .home-three-service-cards {
        padding-top: 35px;
        padding-bottom: 35px;
    }


    .home-three-digital {
        padding-bottom: 65px;
    }

    .home-three-faq-box {
        flex: 0 auto;
        max-width: none;
    }

    .work-three-cards-inner-wrapper {
        padding-left: 30px;
    }


    .home-three-digital-hover-box {
        background-color: #050610b3;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 0.9;
        padding-left: 18px;
        padding-right: 18px;
    }

    .home-three-digital-hover-box p {
        font-size: 14px;
        line-height: 22px;
    }

    .hover-hide,
    .hover-hide-des {
        transform: translateY(0);
        opacity: 1;
    }

    .home-three-service-description {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }


    .tp-recent-work-boxes {
        grid-column-gap: 30px;
        grid-row-gap: 50px;
        padding-top: 0;

    }
    .about-one-mission-image {
        max-width: none;
    }

    .about-one-counter-right {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: none;
    }

    .about-one-counter-main {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        flex-flow: column;
    }

    .about-one-text-wrapper {
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }


    .about-one-counter-left {
        width: 100%;
        max-width: none;
    }

    .about-one-counter-box.counter-bottom-border {
        border-bottom-style: none;
        border-right: 1px solid var(--border-color);
    }



    .about-two-hero-main {
        padding-top: 181px;
    }

    .about-two-hero-image-two {
        width: 35.95%;
        top: 32px;
    }

    .about-two-hero-image-three {
        width: 26.26%;
    }


    .about-two-hero-image-four {
        width: 21.6%;
        left: 100px;
    }


    .about-two-hero-image-five {
        width: 22%;
        bottom: 8%;
    }

    .tab-image-heigh-auto {
        height: auto;
    }

    .about-two-experience-middle {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about-two-process {
        padding-bottom: 70px;
    }

    .about-two-hero-image-one {
        width: 17.17%;
    }

    .about-two-hero-text {
        display: none;
    }


    .about-three-hero-bottom-right {
        padding-left: 0;
    }

    .about-three-hero {
        padding-top: 69px;
    }

    .about-three-testimonial-points-text {
        max-width: none;
    }

    .about-three-testimonial-right {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        max-width: none;
    }




    .contact-one-hero-main {
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .contact-one-paragraph {
        max-width: none;
    }

    .contact-one-hero-middle-wrapper {
        order: -1;
    }

    .contact-main-form {
        flex-flow: column;
        align-items: stretch;
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact-one-heading-wrap {
        flex-flow: column-reverse;
    }

    .contact-one-informations {
        flex-flow: column;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    .contact-one-informations.contact-one-information-three {
        padding-left: 0;
    }

    .contact-one-informations.contact-one-information-two {
        border-left-style: none;
        border-right-style: none;
        padding-left: 0;
        padding-right: 0;
    }

    .tp-utility-content.error-page-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tp-utility-content.password-page-content {
        width: 90%;
        padding: 60px 40px;
    }

    .pricing-plans-cards {
        padding: 30px 20px 20px;
    }

    .tp-rotate-box {
        display: none;
    }



    .contact-three-dots {
        display: none;
    }


   

    .team-members-social {
        padding: 20px 10px;
    }


    .dotted-line-two {
        display: none;
    }


    .dotted-line-one {
        display: none;
    }



    .team-details-approach-left {
        background-size: 57%;
    }

    .team-lines {
        display: none;
    }


    .explore-now-button-wrap {
        display: none;
    }


    .blog-three-text {
        padding-left: 30px;
    }

    .blog-three-posts-wrap {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }


    .blog-post-border {
        width: 15px;
    }

    .blog-cards-image {
        width: 100%;
        height: auto;
    }


    .blog-three-cards:nth-child(2n) {
        margin-top: 40px;
    }


    .projects-marquee-main-wrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .projects-tp-rotate-box {
        display: none;
    }

    .projects-details-column {
        align-items: flex-start;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .project-media {
        width: 30vw;
        aspect-ratio: 403 / 612;
    }



    .service-connection-image,
    .service-growth-right {
        max-width: none;
    }



    .service-two-hero-image-wrap {
        align-items: stretch;
    }

    .service-two-marquee-main {
        text-align: center;
        flex-flow: column;
    }


    .service-three-options-main {
        border-bottom: 1px solid var(--border-color);
    }


    .service-three-options-cards {
        border-top: 1px solid var(--border-color);
        border-bottom-style: none;
        padding: 40px 20px;
    }

    .service-three-options-cards.cell-even {
        border-left: 1px solid var(--border-color);
    }

    .service-three-progress-right {
        max-width: none;
    }

    .service-three-options-name {
        flex-flow: column;
        align-items: flex-start;
    }

    .service-three-progress {
        padding-bottom: 0;
    }



    .service-three-options-cards-right,
    .service-three-options-card-left {
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .service-theree-hero-image-wrap {
        margin-left: 60px;
    }

    .service-three-progress-main {
        max-width: none;
        margin-top: 45px;
        position: relative;
    }

    .progress-main-top {
        max-width: none;
    }



    .utility-banner {
        padding-top: 140px;
        padding-bottom: 60px;
    }


    .heading-block-six {
        margin-bottom: 3.7rem;
    }

    .heading-block-five {
        margin-bottom: 3.5rem;
    }

    .heading-block-one {
        margin-bottom: 3.6rem;
    }

    .heading-block-three {
        margin-bottom: 3.3rem;
    }

    .heading-block-four,
    .heading-block-two,
    .list-block {
        margin-bottom: 3.6rem;
    }

    .style-guide-for-typography {
        padding-top: 65px;
        padding-bottom: 70px;
    }

    .licensing-image {
        height: 250px;
    }

    .licensing-section {
        padding-top: 65px;
        padding-bottom: 65px;
    }



    .landing-text {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        line-height: 24px;
    }


    .landing-footer-button-wrap {
        flex-flow: wrap;
    }

    .header-footer-box {
        background-size: 100% 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .features-box-one {
        padding-left: 20px;
        padding-right: 20px;
    }


    .landing-hero-overlay-wrapper {
        display: none;
    }

    .landing-cards-image-wrap {
        cursor: auto;
    }


   
}

@media screen and (max-width: 767px) {
    .tp-container {
        margin-left: 0;
        margin-right: 0;
    }

    .choose-slide-text {
        align-items: center;
        justify-self: center;
    }

    .ctn_preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }

    .home-three-slider-area {
        width: 260px;
        height: 340px;
        margin: auto;
    }

    .header-logo {
        padding-left: 10px;
    }
    .layout-container {
        max-width: none;
    }

    .testimonail-text {
        margin: 0 auto;
        max-width: 460px;
    }

    .work-three-cards-inner-wrapper {
        padding-left: 15px;
    }

    .tp-recent-work-boxes {
        grid-template-columns: 1fr;
    }

    .blog-image-wrapper {
        height: auto;
    }

    .pr_slides-cards {
        padding: 0 15px;
    }

    blockquote {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        line-height: 26px;
    }

    .left-arrow {
        display: none;
        bottom: 25%;
    }

    .testimonials-author-box-mid {
        width: 104px;
        height: 104px;
    }

    .testimonials-author-box-mid.testimonials-author-box-right,
    .testimonials-author-box-mid.testimonials-author-box-left {
        width: 80px;
        height: 80px;
    }

    .home-one-counters-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }


    .home-one-portfolio-right,
    .home-one-portfolio-left {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        padding-top: 0;
        transform: none ;
    }

    .tp-btn {
        width: 100%;
        height: 45px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        line-height: 25px;
    }

    .right-arrow {
        display: none;
        bottom: 25%;
    }
    .wrapper-404-img{max-width: 200px;}

    .home-digital-solutions-option {
        padding: 25px 15px;
    }

    .team-member-information {
        padding-left: 0;
    }


    .girl-image-wrapper {
        width: 35%;
    }

    .girl-image-glow {
        min-width: 200%;
        min-height: 200%;
    }

    .home-one-service-icon {
        width: auto;
        height: 60px;
    }


    .little-boy-image-wrapper {
        width: 20%;
        top: 0;
        right: 5%;
    }

    .home-popup-video-heading {
        max-width: none;
    }

    .home-one-service-cards-icon {
        width: 100px;
        height: 100px;
    }



    .portfolio-one-details {
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    .home-one-portfolio-card-wrapper {
        flex-flow: column;
    }

    .counter-border {
        display: none;
    }

    .stynero-wrapper {
        padding: 0;
    }

    .clients-marquee-train {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        padding-right: 50px;
    }


    .home-one-cards {
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        max-width: none;
    }

    .experience-wrap {
        max-width: 280px;
    }

    .home-one-cards.two,
    .home-one-cards.three,
    .home-one-cards.four {
        max-width: none;
    }

    .home-one-work-bottom-text {
        max-width: 200px;
    }

    .tp-testimonial {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-images {
        height: auto;
    }

    .client-overlay {
        display: none;
    }

    .portfolio-one-text {
        max-width: none;
    }

    .home-digital-options-items {
        flex-flow: column;
    }

    .home-popup-video-text {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
    }

    .tp-radius-20.mobile-image-height-auto {
        height: auto;
    }

    .footer-one-main {
        flex-flow: column;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }


    .tp-radius-30.mobile-image-full-width {
        width: 100%;
        height: auto;
    }

    .tp-radius-30.contact-hero-image-one {
        width: 100%;
        position: static;
        inset: auto auto 0% -13%;
    }

    .tp-radius-30.contact-hero-image-two {
        display: none;
        inset: auto 0% -100% auto;
    }

    .home-popup-main {
        justify-content: center;
        align-items: center;
    }



    .home-one-testimonial {
        padding-bottom: 45px;
    }


    .home-one-portfolio-left {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .choose-slide-text {
        flex: 1;
    }

    .home-two-hover-faq {
        display: none;
    }

    .choose-us-slides {
        width: 97vw;
        max-width: none;
    }

    .home-two-testimonial-container {
        flex-flow: column;
        align-items: stretch;
    }

    .home-two-testimonial-cards {
        max-width: none;
    }

    .double-marquee-images {
        margin-bottom: 30px;
    }

    .home-two-projects-cards-image {
        width: 100%;
    }

    .home-three-testimonial-top {
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }

    .home-three-service-cards {
        text-align: center;
        flex-flow: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-three-service-cards.home-three-service-cards-one {
        border-right: 1px solid var(--border-color);
    }

    .home-three-service-cards.home-three-service-cards-three {
        border-bottom-style: none;
        border-right: 1px solid var(--border-color);
    }

    .home-three-service-cards.home-three-service-cards-four {
        border-bottom-style: none;
    }

    .home-three-hero-heading {
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }


    .home-three-testimonial-text {
        margin-bottom: 0;
        margin: 0 auto;
    }

    .top-border {
        display: none;
    }

    .home-three-skills-description {
        font-size: 18px;
        line-height: 28px;
    }

    .home-three-hero-image {
        max-width: none;
    }

    .home-three-box {
        padding-left: 0;
        padding-right: 0;
    }

    .tp-flower {
        display: none;
    }


    .home-three-hero {
        padding-top: 60px;
    }

    .home-three-faq-text-wrapper {
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar-three-menu-right {
        display: none;
    }

    .clients-two-boxes {
        width: 150px;
        height: 80px;
    }

    .testimonial-three-big-text {
        top: 58%;
    }



    .home-three-work-background {
        display: none;
    }

    .home-testimonial-main {
        justify-content: flex-start;
        align-items: center;
    }

    .about-two-hero-main {
        padding-top: 115px;
        padding-bottom: 0;
    }



    .process-box-one {
        padding-right: 30px;
    }

    .about-two-hero-image-five {
        display: none;
    }

    .about-two-experience-right {
        max-width: none;
    }

    .about-two-experience {
        margin-top: 0;
    }

    .about-two-video-icon {
        width: 60px;
        height: auto;
    }

    .process-box-two {
        padding-left: 30px;
    }

    .process-grid {
        grid-template-columns: 70px 1fr;
    }

    .about-three-image-background {
        width: 90%;
    }


    .contact-main-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-one-informations {
        max-width: 300px;
    }

    .contact-two-cta-wrap {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contact-two-cta-left {
        max-width: none;
    }

    .contact-two-form-main {
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }

    .tp-utility-content.password-page-content {
        padding: 40px 20px;
    }

    .most-popular {
        padding: 2px 10px;
        font-size: 12px;
        line-height: 22px;
    }

    .pricing-features {
        margin-top: 0;
    }

    .pricing-tabs-menu {
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }



    .pricing-plans-cards {
        padding-left: 15px;
        padding-right: 15px;
    }

    .most-popular-batch {
        right: 20px;
    }


    .contact-hero-vertical-borders-wrap {
        display: none;
    }
    .team-details-approach-left {
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat;
        background-size: auto;
    }


    .team-details-progress-text,
    .team-details-progress-box {
        max-width: none;
    }

    .team-details-progress-right {
        padding-left: 20px;
    }


    .team-member-details-image {
        max-width: none;
    }



    .overlay-wrapper {
        aspect-ratio: 63 / 50;
        min-height: auto;
    }

    .blog-one-author.author-hide,
    .blog-one-information.information-hide {
        opacity: 1;
    }

    .blog-one-cards-wrapper {
        flex-flow: column;
    }

    .blog-one-overlay.blog-one-overlay-hide {
        opacity: 1;
    }

    .card-expand {
        aspect-ratio: 63 / 50;
        width: 100%;
    }

    /* .blog-two-cards {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        text-align: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    } */

    .blog-cards-text {
        text-align: center;
        align-items: center;
        padding-right: 0;
    }

    .blog-two-cards-author {
        border-right-style: none;
        order: 1;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .blog-two-cards-wrap {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }

    .blog-two-image {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        opacity: 1;
        transform: none;
        right: 0;
        text-align: center;
    }

    .blog-two-arrow {
        order: 1;
    }

  

    .blog-three-heading {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
    }

    .blog-three-posts-wrap {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
    }



 
    .blockquote-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blog-three-cards:nth-child(2n) {
        margin-top: 0;
    }

    .projects-hero-cards-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .clients-logo-wrap {
        width: 140px;
        height: 80px;
    }

    .project-items:nth-child(2n) {
        margin-top: 0;
    }

    .projects-details-information {
        grid-template-columns: 1fr 1fr;
    }


    .project-media {
        width: 90vw;
        aspect-ratio: 403 / 423;
    }

    .projects-card-border {
        display: none;
    }

    .progress-experience-text {
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }

    .service-three-options-cards {
        padding-left: 0;
        padding-right: 0;
    }

    .service-three-options-cards.cell-even {
        border-left-style: none;
    }

    .service-three-progress-right {
        max-width: none;
    }

    .service-heading-image {
        background-image: none;
        padding-right: 0;
    }

    .years-text {
        max-width: none;
        margin-bottom: 0;
    }

    .service-three-options-cards-right {
        max-width: none;
    }

    .service-three-progress-main {
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .service-one-wrap {
        flex-flow: wrap;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .awards-right {
        max-width: none;
    }

    .services-number-wrap {
        display: none;
    }

    .services-cards-wrapper {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .service-card {
        margin-bottom: 20px;
    }

    .service-cards-information {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }

    .service-sticky {
        position: static;
    }


    .tabs {
        flex-flow: column;
    }

    .tabs-content {
        border-top-left-radius: 0;
        border-bottom-right-radius: 30px;
    }

    .tabs-menu {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 0;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        max-width: none;
        display: grid;
    }

    .tab-links {
        height: auto;
    }

    .tab-links.tp-active {
        background-position: 94%;
    }

    .mobile-image-full-width {
        width: 100%;
        height: auto;
    }

    .images-preview {
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        grid-template-columns: 1fr;
    }

    .licensing-image {
        height: auto;
    }

    .licensing-section {
        padding-top: 55px;
    }



    .header-footer-box {
        padding: 79px 40px 40px;
    }

    .header-footer-name {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }


    .features-box-one {
        max-width: none;
    }

    .features-box-one-text-wrap {
        justify-content: flex-start;
        align-items: flex-start;
        max-width: none;
    }

    .features-box-two,
    .features-box-three {
        max-width: none;
    }

    .landing-hero-details {
        column-gap: 40px;
        row-gap: 40px;

    }

    .landing-hero-border {
        display: none;
    }

    .footer-one-link-wrapper {
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        flex-direction: column;
    }


}

@media screen and (max-width: 576px) {
    .footer-one-information-wrapper{margin-bottom: 15px;}
    .footer-one{padding: 0 15px;}
}
@media screen and (max-width: 500px) {
    .ctn_preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .ctn_preloader .animation-preloader .txt-loading .letters-loading {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 479px) {
     .tp-container {
        max-width: none;
    }

    .tp-tab-btn {
        display: block;
    }

    .testimonials-author-box-mid.testimonials-author-box-right,
    .testimonials-author-box-mid.testimonials-author-box-left {
        width: 60px;
        height: 60px;
    }

    .testimonials-author-box-mid {
        width: 80px;
        height: 80px;
    }

    .testimonail-text {
        max-width: 300px;
    }

    .left-arrow {
        inset: auto auto 0% 0%;
    }


    .about-three-testimonial-box {
        position: relative;
        margin-top: 30px;
    }

    .home-one-testimonial-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .right-arrow {
        inset: auto 0% 0% auto;
    }

    .little-boy-image-wrapper {
        width: 25%;
    }

    .home-one-service-cards-icon.about-three-service-icons {
        width: 80px;
        height: 80px;
    }

    .portfolio-one-details {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .home-one-testimonial-main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .tp-radius-20.testimonial-images {
        width: 220px;
    }

    .footer-one-main {
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-columns: 1fr;
    }



    .footer-contact-border {
        display: none;
    }

    .home-two-projects-boxes {
        grid-template-columns: 1fr;
    }

    .choose-slide-text {
        justify-content: flex-start;
        align-items: center;
    }

    .footer-two-contact-box {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        flex-flow: column;
    }

    .choose-us-slides {
        text-align: center;
        flex-flow: column;
        width: 93vw;
    }

    .choose-us-slider-image-wrapper {
        width: 100%;
    }

    .footer-two-form-bottom {
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
    }


    .home-two-hero-buttons {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .home-two-service-boxes {
        text-align: center;
        flex-flow: column;
    }

    .home-three-service-cards.home-three-service-cards-one {
        border-right-style: none;
    }

    .home-three-service-cards.home-three-service-cards-three {
        border-bottom-style: solid;
        border-right-style: none;
    }

    .home-three-service-cards.home-three-service-cards-four {
        border-bottom-style: solid;
    }

    .skills-left-texts {
        text-align: center;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }



    .home-three-testimonial-text,
    .work-three-cards-inner-wrapper {
        padding-left: 20px;
    }

    .home-three-skills-description {
        font-size: 16px;
        line-height: 26px;
    }


    .dropdown-icon {
        width: 14px;
        height: auto;
    }

    .skills-options {
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }



    .testimonial-three-big-text {
        top: 56%;
    }

    .home-three-skills {
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-one-counter-right {
        grid-template-columns: 1fr;
    }


    .about-one-skills-options {
        grid-column-gap: 10px;
    }

    .about-one-counter-box.counter-bottom-border {
        border-bottom-style: solid;
        border-right-style: none;
    }

    .process-content {
        padding-right: 15px;
    }

    .about-two-hero-main {
        padding-top: 85px;
    }


    .about-two-experience-list-item {
        text-align: center;
        flex-flow: column;
    }

    .about-two-hero-image-two {
        top: 0;
    }

    .about-two-hero-image-three {
        display: none;
    }


    .process-box-one {
        justify-content: flex-start;
        align-items: stretch;
    }

    .about-two-hero-image-four {
        display: none;
    }

    .about-two-hero-image-one {
        display: none;
    }

    .process-box-two {
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
    }

    .process-grid {
        grid-template-columns: 1fr;
    }

    .hero-contact-main-wrapper {
        padding-left: 0;
    }

    .about-three-testimonial-left {
        padding-bottom: 0;
        padding-right: 0;
    }

    .hero-social-border {
        display: none;
    }

    .about-three-hero-social {

        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }


    .about-testimonial {
        max-height: 200px;
    }

    .tp-about3-testimonial-viewport {
        width: 62vw;
    }

    .mobile-display-off {
        display: none;
    }

    .about-three-testimonial-points {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        flex-flow: column;
    }

    .about-three-hero-right-top-wrap {
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
        width: 100%;
    }

    .contact-two-cta-wrap {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }

    .tp-404-circle-lg,
    .tp-404-circle-sm {
        display: none;
    }



    .tp-tab-btn {
        padding-left: 20px;
        padding-right: 20px;
    }


    .overlay-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* .blog-two-cards {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
    } */

    .blog-two-cards-wrap {
        grid-template-columns: 1fr;
    }

    .blog-three-text {
        padding-left: 0;
    }


    .blog-three-heading {
        grid-column-gap: 10px;
    }

    .blog-three-posts-wrap {
        align-items: start;
    }


  

    .blog-details-author-wrap {
        flex-flow: column;
    }

    .projects-hero-border {
        display: none;
    }

    .projects-details-column {
        padding-left: 0;
    }

    .projects-details-information {
        grid-template-columns: 1fr;
    }

    .connections-box {
        flex-flow: column;
    }


    .service-growth-bottom {
        flex-flow: column;

    }

    .progress-main-top {
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .awards-right-cards {
        flex-flow: column;
    }

    .service-overlays {
        background-image: linear-gradient(#05061000, #050610b3 74%);
    }

    .service-card {
        justify-content: center;
        align-items: center;
    }

    .service-cards-name {
        text-align: center;
        justify-content: center;
        align-items: center;
        bottom: 40px;
        right: auto;
    }

    .tab-links {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tab-links.tp-active {
        background-image: none;
    }

    .licensing-image {
        height: 250px;
    }


    .landing-cards {
        grid-column-gap: 22px;
        grid-row-gap: 22px;
        padding: 20px;
    }

    .header-footer-box {
        background-image: none;
        padding: 0;
    }

    .header-footer-box-content {
        flex-flow: column;
    }

    .header-footers-showcase {
        max-width: none;
    }

    .abt-three-testi-img {
        width: 90%;
    }

    .landing-hero-details {
        column-gap: 20px;
        row-gap: 20px;
    }

}

